.App {
  text-align: center;
}
.App h1 {
  font-size: 72px;
  margin: 0;
  padding: 20px;
  background: -webkit-linear-gradient(45deg, #e84f0b, #00ff95 80%)
}
.timer-container{
  background-color: #3cab7338;
}
.timer-container button{
  margin: 15px;
  padding: 10px;
  width: 10rem;
  cursor: pointer;
  color: rgb(30, 227, 125);
  background-color: black;
  border-radius: 10px;
}